{% extends 'base.html.twig' %}

{% block title %}Spotify
{% endblock %}


{% block body %}	
    <div class="ml-6 flex flex-col space-y-6">
        <section>
            <h2 class="text-2xl font-bold text-white ">Playlists Spotify</h2><br>
            <div class="flex justify-start">
                <a href="#" class="bg-neutral-800 hover:bg-neutral-700 w-48 h-70 mr-10 rounded text-center p-4 ease-in-out duration-100">
                    <div class="h-3/5 flex items-center justify-center rounded mb-4">
                        <img src="https://i.scdn.co/image/ab67706f0000000220c0ad3f3597e79da2c62e5f" alt="Image" class="w-full h-full rounded">
                    </div>
                    <h1 class="font-bold text-white text-lg mb-2 text-left">Titre en gras</h1>
                    <p class="font-medium text-sm text-zinc-400 text-left">Nicki Minaj & Ice Spice are on top of</p>
                </a>
            </div>
        </section>
        <section>
            <h2 class="text-2xl font-bold text-white">Focus</h2><br>
            <div class="flex justify-start">
                <a href="#" class="bg-neutral-800 hover:bg-neutral-700 w-48 h-70 mr-10 rounded text-center p-4 ease-in-out duration-100">
                    <div class="h-3/5 flex items-center justify-center rounded mb-4">
                        <img src="https://i.scdn.co/image/ab67706f0000000296e08a91ef3c7a6e7bfaa9a6" alt="Image" class="w-full h-full object-cover">
                    </div>
                    <h1 class="font-bold text-white text-lg mb-2 text-left">Beats to think to</h1>
                    <p class="font-medium text-sm text-zinc-400 text-left">Focus with deep techno and tech house.</p>
                </a>
            </div>
        </section>
    </div>
        

{% endblock %}
