<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    </head>
    <body>
      {# <button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
        </svg>
      </button> #}

        <aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-80 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
          <div class="h-full px-2 py-2 overflow-y-auto bg-black">
            <ul class="space-y-2 font-medium bg-neutral-900 rounded-md p-3">
              <li class="">
                <a href="#" class="flex items-center text-lg font-semibold	p-2 text-zinc-400 rounded-lg hover:text-white group">
                  <span class="material-symbols-outlined">home</span>
                  <span class="ml-3">Accueil</span>
                </a>
              </li>
              <li>
                <a href="#" class="flex items-center text-lg font-semibold p-2 text-zinc-400 rounded-lg hover:text-white group">
                  <span class="material-symbols-outlined">search</span>
                  <span class="flex-1 ml-3">Rechercher</span>
                </a>
              </li>
            </ul>
            <ul class="pt-2 mt-2 space-y-2 font-medium bg-neutral-900 rounded-md p-3">
              <li>
                  <a href="#" class="flex items-center text-lg font-semibold p-2 text-zinc-400 rounded-lg hover:text-white group">
                    <span class="material-symbols-outlined">overview_key</span>
                    <span class="ml-4">Bibliothèque</span>
                  </a>
              </li>
            </ul>
      </div>
  </aside>

      {# <div class="ml-80"> #}

        {% block body %}{% endblock %}
      {# </div> #}
    </body>
</html>
